.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.julius-sans-one {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
