.app-background {
  background: linear-gradient(to right, #e4d9d4, #d6a6a3, #a17768);
  min-height: 100vh; /* ensures it fills the whole screen */
}

.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}